<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adarshyadav.assignmentapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Adapters.CustomerOutstandingAdapter" />
        <activity android:name=".CommonClass.Report" />
        <activity android:name=".CommonClass.LeaveActivity" />
        <activity android:name=".CommonClass.Report" />
        <activity android:name=".Adapters.ReportAdapter" />
        <activity android:name=".CommonClass.HolidayActivity" />
        <activity android:name=".CommonClass.BirthdayActivity" />
        <activity android:name=".CommonClass.NewJoiningActivity" />
        <activity android:name=".CommonClass.ContactUs" />
        <activity android:name=".CommonClass.AboutUs"></activity>
    </application>

</manifest>